<p><input type="radio" name="fruit" value="apple" [(ngModel)]="fruit">apple</p>
<p><input type="radio" name="fruit" value="banana" [(ngModel)]="fruit">banana</p>
<p><input type="radio" name="fruit" value="orange" [(ngModel)]="fruit">orange</p>
<p><input type="radio" name="fruit" value="grape" [(ngModel)]="fruit">grape</p>
<p><input type="radio" name="fruit" value="waterballon" [(ngModel)]="fruit">waterballon</p>
<hr>
<div>fruit is {{fruit}}</div>
<hr>
<div [ngSwitch]="fruit">
  <div *ngSwitchCase="'apple'">fruit is apple</div>
  <div *ngSwitchCase="'banana'">fruit is banana</div>
  <div *ngSwitchCase="'orange'">fruit is orange</div>
  <div *ngSwitchCase="'grape'">fruit is grape</div>
  <div *ngSwitchCase="'waterballon'">fruit is waterballon</div>
  <div *ngSwitchDefault>ngSwitchDefault</div>
</div>
