<app-content-child>
  <div class="content">
    <span #span>这是默认的投影内容</span>
    <app-panel></app-panel>
  </div>
  <ul #list>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
  </ul>
  <ul #list>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
  </ul>
  <div #list>
    list div
  </div>
  <app-chid-component #lalala></app-chid-component>
  <app-chid-component></app-chid-component>
  <app-chid-component></app-chid-component>
  <section>
    <app-chid-component></app-chid-component>
    <div>
      <app-chid-component></app-chid-component>
    </div>
  </section>
  <ng-template #template>123456</ng-template>
</app-content-child>
