<div class="demo">
  <section class="m-auto">
    <button class="btn btn-info" (click)="newPromise()">create Promise</button>
    <button class="btn btn-primary" (click)="newObservable()">create Observable</button>
    <button class="btn btn-secondary" (click)="cancelObservable()">cancel Observable</button>
    <button class="btn btn-success" (click)="concat()">concat Observable</button>
    <button class="btn btn-info" (click)="showFlag = !showFlag">showFlag toggle</button>
    <button class="btn btn-primary" (click)="testSelfMap()">testSelfMap</button>
  </section>
  <!-- <app-test-unsubscribe *ngIf="showFlag"></app-test-unsubscribe> -->
</div>
